html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    color: whitesmoke;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(autofill, minmax( 200px, 1fr ));
}

header {
    background: linear-gradient(red, orange);
    
}
main {
    background: linear-gradient(orange, yellow);
}
footer {
    background: linear-gradient(yellow, green);
}